header{
    background-color: darkcyan;
    padding: 20px 7%;
    color: white;
}

aside.brand {
    font-size: 25px;
}
aside.navbar{
    text-align: right;
    float: right;
    font-size: 20px;
}

.navbar a{
    margin-left: 20px;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    color: white;
}

.navbar a:hover{
   border-bottom: 1px solid white;
}