<header>
    <aside class="hamburger" (click)="toggleMenu(navbar)">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
    </aside>
    <aside class="navbar" #navbar>
        <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/todoapp">TodoApp</a>
            <a routerLink="/calculator">Calculator</a>
            <a routerLink="/rqqa">RQQA</a>
        </nav>
    </aside>
    <aside class="brand">my<b>Angular</b>App</aside>

</header>
