header {
color: darkcyan;
margin: 30px 0;
}
header h1 {
    text-align: center;
}

header p {
    text-align: center;
    margin: 20px 0;
}
header a {
    color: darkred;
    text-decoration: none;
}
header a:hover{
    color: darkcyan;
    
}
main{
    min-height: 72vh;
}
.errorMessage{
    color: red;
    text-align: center;
    height: 20px;
}
.calculator {
    border: 1px solid darkcyan;
    width: 320px;
    margin: 0 auto;
}

.calculator .screen input:disabled {
   padding: 30px 10px 10px 10px;
    width: 100%;
    font-size: 35px;
    text-align: right;
    color: darkcyan;
    border: 1px solid darkcyan;
    background-color: rgba(0, 139, 139, 0.13);
}
.buttons .btn{
    width: 33.3335%;
    height: 50px;
    font-size: 30px;
}
.buttons .sbtn {
    width: 25%;
    font-size: 30px;
    height: 50px;
}
.buttons input {
    border: 1px solid darkcyan;
    cursor: pointer;
}
input[value="="]{
    background-color: darkcyan;
    color: white;
    width: 50% !important;
}
.buttons .rb{
    width: 50%;
    font-size: 30px;
    background-color: darkred;
    color: white;
    border: 1px solid rgba(119, 112, 112);
}

